.contact{
    background: url("../images/../../../The FeiMao digital/images/feimaologoICON (2).jpg") no-repeat center center;
    background-size: cover;
}

.contact .single_contact_info{
    margin-bottom:45px;
    overflow: hidden;
}

.contact .single_info_icon {
    width:15%;
    float: left;
    margin-right: 5%;
}
.contact .single_info_icon i{
    width:60px;
    height: 56px;
    line-height: 56px;
    color:#444;
    background: url(../images/info_iconbg.png) no-repeat;
    font-size: 1.5rem;
    padding-left: 15px;
}
.contact .single_info_text {
    float:left;
    width:80%;
}

h3{
    font-family: 'Noto Sans', sans-serif;
}